<form action="/new" method="get">
  <input type="submit" value="新規メモを作成">
</form>
<ul>
<!--  <p>@memos</p>-->
  <% @memos.each do |id, title| %>
    <li>
      <a href="/memos/<%= id %>/"><%= title[0] %></a>
    </li>
  <% end %>
</ul>
