<form action="/memos/new" method="get">
  <input type="submit" value="新規メモを作成">
</form>
<ul>
  <% @titles.map do |title| %>
    <% id = title.match(/^[\d]+/) %>
    <li>
      <a href="/memos/<%= id %>/"><%= title.split(/^[\d]+_/)[1] %></a>
    </li>
  <% end %>
</ul>
